<?xml version="1.0" encoding="utf-8" ?>
<venus>
  <components>
    <assemblyScan>
      <namespace name="Arch.CMessaging.Client.Core.Config" />
      <namespace name="Arch.CMessaging.Client.Core.Env" />
      <namespace name="Arch.CMessaging.Client.Core.Service" />
      <namespace name="Arch.CMessaging.Client.Producer" />
      <namespace name="Arch.CMessaging.Client.Producer.Sender" />
      <namespace name="Arch.CMessaging.Client.Producer.Config" />
      <namespace name="Arch.CMessaging.Client.Producer.Pipeline" />
      <namespace name="Arch.CMessaging.Client.Transport.EndPoint" />
      <namespace name="Arch.CMessaging.Client.Producer.Monitor" />
      <namespace name="Arch.CMessaging.Client.Transport.Command.Processor" />
      <namespace name="Arch.CMessaging.Client.Core.Message.Partition" />
      <namespace name="Arch.CMessaging.Client.Core.Message.Codec" />
      <namespace name="Arch.CMessaging.Client.Core.MetaService.Internal" />
      <namespace name="Arch.CMessaging.Client.Core.MetaService.Remote" />
    </assemblyScan>
  </components>
</venus>
