<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="hermes">
			<section name="global" type="System.Configuration.NameValueSectionHandler, System" />
		</sectionGroup>
	</configSections>
	<hermes>
		<global>
			<add key="env" value="fws" />
		</global>
	</hermes>
	<appSettings>
		<add key="Setting1" value="May 5, 2014" />
		<add key="Setting2" value="May 6, 2014" />
	</appSettings>
</configuration>