<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="hermes">
			<section name="global" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<hermes>
		<global>
			<add key="env" value="local"/>
			<add key="meta.port" value="1248"/>
		</global>
	</hermes>
	<appSettings>
		<add key="LoggingServer.V2.IP" value="collector.logging.fws.qa.nt.ctripcorp.com"/>
		<add key="LoggingServer.V2.Port" value="63100"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
